@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-surface-50 text-surface-900 font-sans;
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track  { @apply bg-surface-100; }
  ::-webkit-scrollbar-thumb  { @apply bg-surface-300 rounded-full; }
  ::-webkit-scrollbar-thumb:hover { @apply bg-surface-400; }
}

@layer utilities {
  .h-4\.5 { height: 1.125rem; }
  .w-4\.5 { width:  1.125rem; }
}